TARGETED_DEVICE_FAMILY = 1
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
INFOPLIST_FILE = XcodeGenSample/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.tommy10344.XcodeGenSample
PRODUCT_NAME = $(TARGET_NAME)
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SWIFT_VERSION = 5.0
